/* Navbar styles */
.navbar-custom {
    background-image: linear-gradient(to right, #FFF0E5, #FFD1DC) !important;
}

.navbar-brand, .nav-link {
    font-family: 'Glacial Indifference', sans-serif;
    font-size: 25px;
    font-weight: bold;
    color: #000 !important;
}

.nav-item {
    padding: 10px 15px;
    margin: 0 8px;
}

.nav-link {
    padding: 10px 15px;
}

/* Dropdown styles */
.dropdown-menu {
    background-color: #FFF0E5 !important;
    min-width: max-content;
}

.dropdown-item {
    font-family: 'Glacial Indifference', sans-serif;
    color: #000;
}

.dropdown-item:hover {
    background-color: #FFD1DC !important;
}

/* Submenu styles */
.dropdown-submenu {
    position: relative;
}

.dropdown-submenu > .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
}

/* Show submenu only on hover of its parent */
.dropdown-submenu:hover > .dropdown-menu {
    display: block;
}

/* Navbar and menu item styles */
.navbar-custom {
    background-color: #FFF0E5, #FFD1DC;
}

/* เพิ่มระยะห่างภายในของ nav-item */
.nav-item {
    padding: 10px 15px; /* ปรับค่าตามที่ต้องการ */
    margin: 0 8px; /* เพิ่มระยะห่างระหว่างแต่ละ item */
}

/* เพิ่มสไตล์สำหรับ nav-link เพื่อให้เข้ากัน */
.nav-link {
    padding: 10px 15px; /* ปรับให้เหมาะสม */
    color: #000;
}


.navbar-brand, .nav-link {
    font-family: 'Glacial Indifference';
    font-size: 25px;
    font-weight: bold;
}

.dropdown-item {
    font-family: 'Glacial Indifference';
    color: rgb(0, 0, 0);
}

.dropdown-menu {
    background-color: #FFF0E5, #FFD1DC !important;
    min-width: max-content;
}

.dropdown-item:hover {
    background-color: #82939b;
}

.dropdown-submenu > .dropdown-toggle::after {
    display: inline-block;
    margin-left: 0.5em;
    vertical-align: 0.255em;
    content: "";
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-bottom: 0;
    border-left: 0.3em solid transparent;
    transition: transform 0.3s ease;
}

/* Rotate arrow to down when hovering */
.dropdown-submenu:hover > .dropdown-toggle::after {
    transform: rotate(-90deg); /* Rotate to point right */
}

